.journal__main-content {
    display: flex;
}

.journal__sidebar {
    background-color: $dark-grey;
    color: #fff;
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding-left: 10px;
    padding-right: 10px;
    width: 450px;
}

.journal__sidebar-navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;

    h3 {
        font-weight: lighter;
    }
}

.journal__new-entry {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    margin-top: 30px;
    width: 100%;
    transition: color 0.3s ease;

    &:hover {
        color: darken($color: #fff, $amount: 20);
    }
}

.journal__entries {
    margin-top: 30px;
    flex: 1 1 auto;
    overflow-y: auto;
}

.journal__entry {
    background-color: #fff;
    border-radius: 4px;
    color: $dark-grey;
    display: flex;
    margin-bottom: 10px;
    overflow: hidden;
    cursor: pointer;
}

.journal__entry-picture {
    height: 75px;
    width: 75px;
    min-width: 75px;
}

.journal__entry-body {
    padding: 10px;
}

.journal__entry-title {
    font-size: 14px;
    font-weight: bold;
}

.journal__entry-content {
    font-size: 10px;
}

.journal__entry-date-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 5px;

    span {
        font-size: 12px;
    }
}
